name: Lib module
on:
  pull_request:
    branches:
      - '**'
    paths:
      - Lib/**
      - .github/workflows/**
  workflow_dispatch:

jobs:
  eslint-lib-module:
    runs-on: ubuntu-latest
    continue-on-error: true
    steps:
      - uses: actions/checkout@v3

      # Setup Node.js environment once for all jobs
      - name: Setup Node.js environment
        uses: actions/setup-node@v4
        with:
          node-version: '24'

      - name: Setup PNPM
        run: |
          npm install --global corepack@latest
          corepack enable
          corepack use pnpm@latest-10

      # Cache PNPM dependencies
      - name: Cache PNPM dependencies
        uses: actions/cache@v4
        with:
          path: |
            ./Lib/node_modules
          key: ${{ runner.os }}-lib-dependencies-${{ hashFiles('./Lib/pnpm-lock.yaml') }}

      - name: Install dependencies and Run ESLint in Lib folder
        working-directory: ./Lib
        run: |
          pnpm install
          pnpm eslint